<style>
body {background-image: url("{{choice2image}}") !important;}
</style>
{{!-- <div class="Body" id="${backgroundBody}">
    <h1 class="Heading">And so our journey continues...</h1>
    <h3 class="outcomeText">{{prompt.choice}}</h3>
    <button>Continue</button>
</div> --}}

<div class="Body"> 
    <h1 class="Heading">And so our journey continues...</h1>
    <h2 class="outcomeText">{{choice2}}</h2>
    <h3 class="outcomeText">{{choice2text}}</h3>
    <button><a href="/api/game/{{continue id}}">Continue</button>
</div>
