<style>
body {background-image: url("{{promptimage}}") !important;}
</style>
<div>
    <div class="Body">
        
        <h1 class="Heading">And so our journey begins...</h1>
        <h3 class="Question">{{prompttext}}</h3>
        <ul class="AnswerChoices">
            {{#if choice1}}
            <li id="choice-1-button">{{choice1}}</li>
            {{/if}}
            {{#if choice2}}
            <li id="choice-2-button">{{choice2}}</li>
            {{/if}}
            {{#if choice3}}
            <li id="choice-3-button">{{choice3}}</li>
            {{/if}}
            {{#if choice4}}
            <li id="choice-4-button">{{choice4}}</li>
            {{/if}}
        </ul>
    </div>
</div>