<div>
    {{#if prompts.length}}
    <div class="Body" id="Body1">
        {{#each prompts as |prompt|}}
        <h1 class="Heading">And so our journey begins...</h1>
        <h3 class="Question"><a href="/seeds/promptdata.json"{{prompt.id}}>{{prompt.prompttext}}</a></h3>
        <ul class="AnswerChoices">
            <li id="Answer">{{prompt.choice1}}</li>
            <li id="Answer">{{prompt.choice2}}</li>
            <li id="Answer">{{prompt.choice3}}</li>
            <li id="Answer">{{prompt.choice4}}</li>
        {{/each}}
        </ul>
    </div>
    {{/if}}
</div>

<script src="/models/Prompt.js"></script>