<style>
body {background-image: url("{{promptimage}}") !important;}
</style>
<div>
    <div class="Body">
        
        <h1 class="Heading">And so our journey begins...</h1>
        <h3 class="Question">{{prompttext}}</h3>
        <ul class="AnswerChoices">
            {{#if choice1}}
            <li id="choice-1-button"><a href={{checkAnswer winningchoice choice1 id}}>{{choice1}}</a></li>
            {{/if}}
            {{#if choice2}}
            <li id="choice-2-button"><a href={{checkAnswer winningchoice choice2 id}}>{{choice2}}</a></li>
            {{/if}}
            {{#if choice3}}
            <li id="choice-3-button"><a href={{checkAnswer winningchoice choice3 id}}>{{choice3}}</a></li>
            {{/if}}
            {{#if choice4}}
            <li id="choice-4-button"><a href={{checkAnswer winningchoice choice4 id}}>{{choice4}}</a></li>
            {{/if}}
        </ul>
    </div>
</div>